<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <link rel="stylesheet" href="estiloLogin.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
</head>

<body>
    <div class="container">
        <h2>Login</h2>
        <form action="index.html" method="post">
            <div class="input-field">
                <input type="text" id="nome" placeholder="alguma coisa">
                <label for="nome">Usuário:</label>
            </div>

            <div class="input-field">
                <input type="password" id="senha" placeholder="alguma coisa">
                <label for="senha">Senha:</label>
            </div>

        <div class="center"> 
           
                    
            <button2><a href="./index.html"><p>Entrar</p></a></button2>
        </div>
        </form>
        <div class="links-uteis">
            <button><a href="./TelCadastro.html"><p>Ainda não sou cadastrado</p></a></button>
        </div>
    </div>
</body>
</html>